/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

.hide {
  display: none; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #222;
  /* font-size: 16px; */ }

.orange {
  color: #ff5c36; }

.heading-primary {
  font-size: 5rem;
  font-weight: 700;
  line-height: 5.5rem;
  margin-bottom: 1rem; }
  .heading-primary--sub {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 4.5rem; }

.heading-secondary {
  font-size: 4.5rem;
  font-weight: 600;
  line-height: 5rem;
  margin-bottom: 1rem; }
  .heading-secondary--sub {
    text-transform: none;
    font-weight: 500;
    font-size: 4.5rem; }

.heading-tertiary {
  font-size: 3rem;
  font-weight: 400;
  text-align: center; }

.center {
  text-align: center; }

.bold {
  font-size: 1.5rem;
  font-weight: 600; }

.italic {
  font-style: italic;
  font-size: 1.4rem; }

.header {
  height: 95vh;
  position: relative;
  background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.6), rgba(255, 110, 71, 0.5)), url("./../img/tea-1x.jpg");
  background-size: cover;
  background-position: top; }
  @media only screen and (max-width: 37.5em) {
    .header {
      height: 100vh; } }
  @media (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 2000px) {
    .header {
      background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.6), rgba(255, 110, 71, 0.5)), url("./../img/tea-2x.jpg"); } }
  .header__logo-box {
    position: absolute;
    top: 6rem;
    left: 10rem; }
    @media only screen and (max-width: 75em) {
      .header__logo-box {
        left: 5rem; } }
    @media only screen and (max-width: 37.5em) {
      .header__logo-box {
        top: 2rem;
        left: 2rem; } }
    .header__logo-box .logo {
      height: 5rem; }
      @media only screen and (max-width: 37.5em) {
        .header__logo-box .logo {
          height: 4rem; } }
  .header__text {
    max-width: 55rem;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%); }
    @media only screen and (max-width: 56.25em) {
      .header__text {
        top: 50%; } }
    @media only screen and (max-width: 75em) {
      .header__text {
        width: 40%; } }
  .header__message-form {
    min-width: 20%;
    min-height: 40%;
    left: 10rem;
    position: absolute;
    bottom: 0;
    background-color: #fbfbfb;
    box-shadow: 0 0.5px 2rem rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    padding: 1rem 2.5rem; }
    @media only screen and (max-width: 75em) {
      .header__message-form {
        left: 5rem;
        min-width: 17%;
        max-height: 55%; } }
    @media only screen and (max-width: 56.25em) {
      .header__message-form {
        display: none;
        width: 60%;
        height: 70%;
        border-radius: 2rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); } }
    @media only screen and (max-width: 37.5em) {
      .header__message-form {
        width: 80%;
        z-index: 30; } }
  .header__message {
    display: none;
    cursor: pointer;
    position: absolute;
    bottom: 4rem;
    left: 10rem;
    z-index: 15;
    box-shadow: 0 0.5px 2rem rgba(0, 0, 0, 0.04); }
    @media only screen and (max-width: 37.5em) {
      .header__message {
        left: 2rem; } }
    @media only screen and (max-width: 56.25em) {
      .header__message {
        display: block; } }
    .header__message-icon {
      position: relative;
      background-color: #ffffff;
      text-align: center; }
      .header__message-icon .message-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 5rem;
        width: 5rem;
        fill: #ff5c36; }
  .header__message .header__message-icon {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    padding: 0; }

.container {
  max-width: 1200px;
  margin: 0 auto; }
  @media only screen and (max-width: 75em) {
    .container {
      padding: 0 3rem; } }
  @media only screen and (max-width: 56.25em) {
    .container {
      padding: 0 2rem; } }
  @media only screen and (max-width: 37.5em) {
    .container {
      max-width: 95%;
      padding: 0; } }
  @media only screen and (min-width: 112.5em) {
    .container {
      max-width: 1400px; } }

.process {
  margin-bottom: 15rem; }
  @media only screen and (max-width: 56.25em) {
    .process {
      margin-bottom: 0;
      padding: 4rem 0 6rem 0; } }
  .process__main {
    margin: 8rem 0 6rem 0; }
    @media only screen and (max-width: 56.25em) {
      .process__main {
        margin: 0;
        margin-bottom: 5rem; } }
  .process__work {
    display: flex;
    justify-content: space-between;
    align-content: center; }
    @media only screen and (max-width: 56.25em) {
      .process__work {
        justify-content: space-around;
        flex-wrap: wrap; } }

.tea {
  background-color: #fbfbfb;
  padding: 2rem 0 8rem 0; }
  @media only screen and (max-width: 56.25em) {
    .tea {
      padding: 4rem 0 6rem 0; } }
  .tea__main {
    margin-bottom: 5rem; }
  .tea__types {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    @media only screen and (max-width: 75em) {
      .tea__types {
        justify-content: space-around; } }

.cup {
  padding: 4rem 0 6rem 0; }
  @media only screen and (max-width: 56.25em) {
    .cup__main {
      margin-bottom: 5rem;
      margin-top: 0; } }
  @media only screen and (max-width: 37.5em) {
    .cup__main {
      margin-bottom: 0; } }
  .cup__create {
    margin-top: 8rem;
    position: relative; }
    .cup__create::after {
      content: "";
      display: table;
      clear: both; }
    @media only screen and (max-width: 56.25em) {
      .cup__create {
        margin-top: 0; } }
    .cup__create--list {
      width: 70%;
      font-size: 1.6rem;
      float: left;
      padding: 4rem; }
      @media only screen and (max-width: 37.5em) {
        .cup__create--list {
          padding: 0 2rem;
          width: 100%;
          float: none; } }
    .cup__create--picture {
      width: 40%;
      z-index: -1;
      position: absolute;
      right: 0; }
      .cup__create--picture img {
        width: 100%; }
      @media only screen and (max-width: 37.5em) {
        .cup__create--picture {
          position: relative;
          margin: 0 auto; } }

.review {
  background-color: #fbfbfb;
  padding: 2rem 0 14rem 0; }
  @media only screen and (max-width: 56.25em) {
    .review {
      padding: 4rem 0 6rem 0; } }
  .review__main {
    margin: 8rem 0 6rem 0; }
    @media only screen and (max-width: 56.25em) {
      .review__main {
        padding: 0;
        margin: 0;
        margin-bottom: 2rem; } }
  .review__slideshow {
    display: none;
    position: relative; }
    .review__slideshow::after {
      content: "";
      display: table;
      clear: both; }

.social {
  background-color: #f7f7f7; }
  .social__group {
    margin-bottom: 7rem;
    display: inline-block; }
    @media only screen and (max-width: 75em) {
      .social__group {
        margin-bottom: 2rem;
        margin-top: 2rem; } }
    .social__group:not(:last-child) {
      margin-top: 7rem;
      margin-right: 5%; }
      @media only screen and (max-width: 75em) {
        .social__group:not(:last-child) {
          margin-bottom: 2rem;
          margin-top: 2rem; } }
    .social__group a > img {
      height: 3rem; }
      @media only screen and (max-width: 56.25em) {
        .social__group a > img {
          height: 2.5rem; } }

.footer {
  background-color: #efefef;
  padding-top: 4rem;
  padding-bottom: 4rem; }
  .footer__button {
    line-height: .4;
    font-size: 1.5rem;
    width: 15%;
    margin-bottom: 3rem; }
    @media only screen and (max-width: 56.25em) {
      .footer__button {
        width: 30%; } }
    @media only screen and (max-width: 75em) {
      .footer__button {
        width: 20%; } }
    @media only screen and (max-width: 37.5em) {
      .footer__button {
        width: 50%; } }
  .footer__social {
    margin-top: 3rem;
    position: relative; }
    .footer__social--copy {
      color: #706b73;
      margin-top: 1rem; }

.footer .footer__social--row .footer__social--button {
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s;
  width: 3.5rem;
  height: 3.5rem;
  background-color: #d3d3d3;
  position: relative;
  display: inline-block;
  padding: 0; }
  .footer .footer__social--row .footer__social--button:not(:first-child) {
    margin-left: 1%; }
  .footer .footer__social--row .footer__social--button:hover {
    background-color: #ff5c36;
    fill: #ffffff;
    box-shadow: 0 0.5px 2rem rgba(0, 0, 0, 0.2); }
  .footer .footer__social--row .footer__social--button .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
    width: 2rem;
    height: 2rem;
    fill: #ffffff; }

.btn {
  transition: all 0.2s; }
  .btn, .btn:link, .btn:visited {
    font-size: 1.6rem;
    border-radius: 10rem;
    display: block;
    border: none;
    padding: 1.5rem 4rem;
    cursor: pointer;
    text-align: center;
    margin: auto; }
  .btn:hover {
    box-shadow: 0 0.5px 2rem rgba(0, 0, 0, 0.4);
    transform: translateY(-3px); }
  .btn:focus {
    outline-style: none; }
  .btn:active {
    transform: translateY(-1px);
    border: none; }
  .btn--orange {
    background-color: #ff5c36;
    color: #ffffff; }
    .btn--orange:hover {
      box-shadow: 0 0.5px 2rem rgba(0, 0, 0, 0.2); }
  .btn--white {
    background-color: #ffffff;
    color: #706b73;
    box-shadow: 0 0.5px 2rem rgba(0, 0, 0, 0.2); }

.slider {
  position: relative;
  overflow: hidden;
  padding-top: 5rem; }

.slider__wrapper {
  display: flex;
  transition: transform 0.6s ease; }

.slider__item {
  flex: 0 0 50%;
  max-width: 50%;
  background-color: #ffffff;
  box-shadow: 0 0.5px 2rem rgba(0, 0, 0, 0.04);
  padding: 0 3rem; }
  .slider__item:hover {
    border: 1px solid #ff5c36; }
  @media only screen and (max-width: 56.25em) {
    .slider__item {
      flex: 0 0 100%;
      max-width: 100%; } }

.slideshow__button {
  padding: 0;
  border: none;
  width: 3.5rem;
  height: 3.5rem;
  background-color: #ffffff;
  box-shadow: 0 0.5px 2rem rgba(0, 0, 0, 0.04);
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s; }
  .slideshow__button > svg {
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .slideshow__button:hover {
    background-color: #ff5c36;
    fill: #ffffff;
    box-shadow: 0 0.5px 2rem rgba(0, 0, 0, 0.04); }
  .slideshow__button--left {
    position: absolute;
    top: 50%;
    z-index: 9; }
  .slideshow__button--right {
    position: absolute;
    top: 50%;
    z-index: 9;
    right: 0; }

.form {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  line-height: 2; }
  @media only screen and (max-width: 24.375em) {
    .form {
      line-height: 5; } }
  .form__name {
    display: block;
    width: 100%;
    margin-bottom: 1rem; }
    @media only screen and (max-width: 75em) {
      .form__name {
        margin-bottom: 0; } }
  .form__line {
    width: 100%;
    display: block;
    border: none;
    border-bottom: 1px solid #d3d3d3;
    padding: 1rem 1rem; }
    .form__line--textarea {
      resize: none;
      overflow: auto;
      outline: none;
      font-family: "Open Sans", sans-serif;
      border-bottom: 1px solid #d3d3d3;
      margin-bottom: 2rem; }
  .form__close {
    display: none; }
    @media only screen and (max-width: 56.25em) {
      .form__close {
        display: block;
        right: 0;
        top: 0;
        position: absolute; }
        .form__close-btn {
          fill: #ff5c36; } }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #ffffff;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6rem;
  right: 9rem;
  z-index: 20;
  box-shadow: 0 0.5px 2rem rgba(0, 0, 0, 0.2);
  cursor: pointer; }
  @media only screen and (max-width: 37.5em) {
    .navigation__button {
      top: 2rem;
      right: 2rem; } }
  @media only screen and (max-width: 75em) {
    .navigation__button {
      right: 5rem; } }

.navigation__icon {
  position: relative; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    position: absolute;
    top: 50%;
    margin-top: -.1rem;
    left: 50%;
    margin-left: -1.5rem;
    width: 3rem;
    height: .2rem;
    background-color: #222; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    display: block;
    transition: all .2s; }
  .navigation__icon::before {
    transform: translateY(-0.8rem); }
  .navigation__icon::after {
    transform: translateY(0.8rem); }

.navigation__button:hover .navigation__icon::before {
  transform: translateY(-1rem); }

.navigation__button:hover .navigation__icon::after {
  transform: translateY(1rem); }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  transform: rotate(-135deg); }

.navigation__background {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 9.5rem;
  background-image: radial-gradient(#ff6e47, #ffffff);
  z-index: 10;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
  @media only screen and (max-width: 37.5em) {
    .navigation__background {
      top: 2.5rem;
      right: 2.5rem; } }
  @media only screen and (max-width: 75em) {
    .navigation__background {
      right: 5.5rem; } }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation__list {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1rem 2rem;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #ffffff 50%);
  background-size: 224%;
  transition: all .4s; }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1rem;
    display: inline-block; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #ff5c36;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.process__card {
  color: #ffffff;
  margin-bottom: 1.5rem;
  line-height: 1.5; }
  @media only screen and (max-width: 56.25em) {
    .process__card {
      margin-bottom: 5rem;
      flex-grow: 1; } }
  .process__card:not(:last-child) {
    margin-right: 2rem; }
    @media only screen and (max-width: 56.25em) {
      .process__card:not(:last-child) {
        margin-right: 1rem; } }
  .process__card--svg {
    text-align: center; }
  .process__card--icon {
    width: 4.5rem;
    height: 4.5rem;
    fill: #ffffff;
    margin: 5rem 0 2rem 0; }
  .process__card--heading {
    line-height: 1.3;
    margin-bottom: 2rem; }
  .process__card--text {
    margin-bottom: 4rem; }
    @media only screen and (max-width: 56.25em) {
      .process__card--text {
        margin-bottom: 8.5rem; } }
  .process__card--button {
    width: 90%;
    text-decoration: none;
    line-height: 1; }
    .process__card--button:focus {
      outline-color: transparent; }
  .process__card--picture {
    height: 30rem;
    background-size: cover;
    background-position: top; }
    .process__card--picture-1 {
      background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.4), rgba(255, 110, 71, 0.5)), url(./../img/work/globe-small.jpg); }
      @media (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 2000px) {
        .process__card--picture-1 {
          background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.4), rgba(255, 110, 71, 0.5)), url(./../img/work/globe-big.jpg); } }
    .process__card--picture-2 {
      background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.4), rgba(255, 110, 71, 0.5)), url(./../img/work/time-small.jpg); }
      @media (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 2000px) {
        .process__card--picture-2 {
          background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.4), rgba(255, 110, 71, 0.5)), url(./../img/work/time-big.jpg); } }
    .process__card--picture-3 {
      background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.4), rgba(255, 110, 71, 0.5)), url(./../img/work/order-small.jpg); }
      @media (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 2000px) {
        .process__card--picture-3 {
          background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.4), rgba(255, 110, 71, 0.5)), url(./../img/work/order-big.jpg); } }
    .process__card--picture-4 {
      background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.4), rgba(255, 110, 71, 0.5)), url(./../img/work/plane-small.jpg); }
      @media (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 2000px) {
        .process__card--picture-4 {
          background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.4), rgba(255, 110, 71, 0.5)), url(./../img/work/plane-big.jpg); } }

.tea__card {
  margin-bottom: 4.5rem;
  color: #ffffff;
  font-size: 1.7rem;
  min-width: 35rem; }
  @media only screen and (max-width: 37.5em) {
    .tea__card {
      min-width: 45%; } }
  @media only screen and (max-width: 24.375em) {
    .tea__card {
      min-width: 90%; } }
  .tea__card:not(:last-chold) {
    margin-right: 1rem; }
  .tea__card--name {
    margin-bottom: 16.5rem; }
  .tea__card--button {
    width: 90%;
    text-decoration: none;
    line-height: 1; }
  .tea__card--picture {
    height: 23.6rem;
    background-size: cover;
    background-position: center;
    border-radius: 2px; }
    .tea__card--picture-1 {
      background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.2), rgba(255, 110, 71, 0.2)), url("./../img/types/green-small.jpg"); }
      @media (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 2000px) {
        .tea__card--picture-1 {
          background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.2), rgba(255, 110, 71, 0.2)), url(./../img/types/green-big.jpg); } }
    .tea__card--picture-2 {
      background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.2), rgba(255, 110, 71, 0.2)), url("./../img/types/black-small.jpg"); }
      @media (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 2000px) {
        .tea__card--picture-2 {
          background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.2), rgba(255, 110, 71, 0.2)), url(./../img/types/black-big.jpg); } }
    .tea__card--picture-3 {
      background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.2), rgba(255, 110, 71, 0.2)), url("./../img/types/white-small.jpg"); }
      @media (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 2000px) {
        .tea__card--picture-3 {
          background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.2), rgba(255, 110, 71, 0.2)), url(./../img/types/white-big.jpg); } }
    .tea__card--picture-4 {
      background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.2), rgba(255, 110, 71, 0.2)), url("./../img/types/oolong-small.jpg"); }
      @media (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 2000px) {
        .tea__card--picture-4 {
          background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.2), rgba(255, 110, 71, 0.2)), url(./../img/types/oolong-big.jpg); } }
    .tea__card--picture-5 {
      background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.2), rgba(255, 110, 71, 0.2)), url("./../img/types/matcha-small.jpg"); }
      @media (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 2000px) {
        .tea__card--picture-5 {
          background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.2), rgba(255, 110, 71, 0.2)), url(./../img/types/matcha-big.jpg); } }
    .tea__card--picture-6 {
      background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.2), rgba(255, 110, 71, 0.2)), url("./../img/types/herbal-small.jpg"); }
      @media (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 2000px) {
        .tea__card--picture-6 {
          background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.2), rgba(255, 110, 71, 0.2)), url(./../img/types/herbal-big.jpg); } }
    .tea__card--picture-7 {
      background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.2), rgba(255, 110, 71, 0.2)), url("./../img/types/rooibos-small.jpg"); }
      @media (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 2000px) {
        .tea__card--picture-7 {
          background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.2), rgba(255, 110, 71, 0.2)), url(./../img/types/rooibos-big.jpg); } }
    .tea__card--picture-8 {
      background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.2), rgba(255, 110, 71, 0.2)), url("./../img/types/hibiscus-small.jpg"); }
      @media (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 2000px) {
        .tea__card--picture-8 {
          background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.2), rgba(255, 110, 71, 0.2)), url(./../img/types/hibiscus-big.jpg); } }
    .tea__card--picture-9 {
      background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.2), rgba(255, 110, 71, 0.2)), url("./../img/types/greenRooibos-small.jpg"); }
      @media (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 2000px) {
        .tea__card--picture-9 {
          background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.2), rgba(255, 110, 71, 0.2)), url(./../img/types/greenRooibos-big.jpg); } }

.slideshow {
  position: relative; }
  .slideshow__img {
    position: absolute;
    top: -4.5rem;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    background-size: cover;
    border-radius: 50%;
    width: 9rem;
    height: 9rem; }
    .slideshow__img > img {
      height: 100%;
      width: 100%; }
  .slideshow__main--text {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    padding-top: 6.5rem; }
  .slideshow__main--stars {
    margin-bottom: 1.5rem; }
    .slideshow__main--stars .stars {
      height: 1.5rem;
      fill: #ffef3b;
      width: 1.5rem;
      letter-spacing: 1; }
  .slideshow__main--name {
    padding-bottom: 1.5rem; }
