.container {
    max-width: 1200px;
    margin: 0 auto;
    
    @include respond(tab-land){
        
        padding: 0 3rem;
    }
    @include respond(tab-port){
        
        padding: 0 2rem;
    }
    @include respond(phone){
        max-width: 95%;
        padding: 0;
    }

    @include respond(big-desktop){
        max-width: 1400px;
    }
}