.process__card {

    @include respond(tab-port){
        margin-bottom: $magrin-bottom-xs;
    
        flex-grow: 1;
    }
    
    // height: 30rem;
    &:not(:last-child) {
        margin-right: 2rem;
        @include respond(tab-port){
            margin-right: 1rem;
        }
    }

    color: $color-white;
    margin-bottom: 1.5rem;
    line-height: 1.5;

    &--svg {
        text-align: center;
    }

    &--icon {
        width: 4.5rem;
        height: 4.5rem;
        fill: $color-white;
        margin: 5rem 0 2rem 0;
    }

    &--heading {
        line-height: 1.3;
        margin-bottom: 2rem;
    }

    &--text {
        margin-bottom: 4rem;

        @include respond(tab-port){
            margin-bottom: 8.5rem;
        }

        
    }

    &--button {
        // transform: translateY(2rem);
        // transform: translateY(-2rem);
        width: 90%;
        text-decoration: none;
        line-height: 1;

        &:focus {
            outline-color: transparent;
        }

        
    }

    &--picture {
        height: 30rem;
        background-size: cover;
        background-position: top;

        &-1 {
            background-image: linear-gradient(to right bottom, rgba($color-white, 0.4), rgba($color-orange-light, 0.5)), url(./../img/work/globe-small.jpg);

            @media (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 2000px) {
                background-image: linear-gradient(to right bottom, rgba($color-white, 0.4), rgba($color-orange-light, 0.5)), url(./../img/work/globe-big.jpg);
            }
        }

        &-2 {
            background-image: linear-gradient(to right bottom, rgba($color-white, 0.4), rgba($color-orange-light, 0.5)), url(./../img/work/time-small.jpg);

            @media (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 2000px) {
                background-image: linear-gradient(to right bottom, rgba($color-white, 0.4), rgba($color-orange-light, 0.5)), url(./../img/work/time-big.jpg);
            }

        }

        &-3 {
            background-image: linear-gradient(to right bottom, rgba($color-white, 0.4), rgba($color-orange-light, 0.5)), url(./../img/work/order-small.jpg);

            @media (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 2000px) {
                background-image: linear-gradient(to right bottom, rgba($color-white, 0.4), rgba($color-orange-light, 0.5)), url(./../img/work/order-big.jpg);
            }
        }

        &-4 {
            background-image: linear-gradient(to right bottom, rgba($color-white, 0.4), rgba($color-orange-light, 0.5)), url(./../img/work/plane-small.jpg);

            @media (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 2000px) {
                background-image: linear-gradient(to right bottom, rgba($color-white, 0.4), rgba($color-orange-light, 0.5)), url(./../img/work/plane-big.jpg);
            }

        }
    }


}