.tea__card{
    margin-bottom: 4.5rem;
    color: $color-white;
    font-size: 1.7rem;
    min-width: 35rem;

    @include respond(phone){
        min-width: 45%;
    }
    @include respond(phone-xs){
        min-width: 90%;
    }
    
    &:not(:last-chold){
        margin-right: 1rem;
    }


    &--name{
        margin-bottom: 16.5rem;
        
    }
   
    &--button{
        // transform: translateY(2rem);
        width: 90%;
        text-decoration: none;
        line-height: 1;
        
    }

    &--picture{
        height: 23.6rem;
        background-size: cover;
        background-position: center;
        border-radius: 2px;
        
        
        &-1{
            background-image: linear-gradient( to right bottom, rgba($color-white, 0.2), rgba( $color-orange-light , 0.2)), url("./../img/types/green-small.jpg");

            @media (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 2000px) {
                background-image: linear-gradient( to right bottom, rgba($color-white, 0.2), rgba( $color-orange-light , 0.2)), url(./../img/types/green-big.jpg);
            }
        }
        &-2{
            background-image: linear-gradient( to right bottom, rgba($color-white, 0.2), rgba( $color-orange-light , 0.2)), url("./../img/types/black-small.jpg");

            @media (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 2000px) {
                background-image: linear-gradient( to right bottom, rgba($color-white, 0.2), rgba( $color-orange-light , 0.2)), url(./../img/types/black-big.jpg);
            }
        }
        &-3{
            background-image: linear-gradient( to right bottom, rgba($color-white, 0.2), rgba( $color-orange-light , 0.2)), url("./../img/types/white-small.jpg");

            @media (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 2000px) {
                background-image: linear-gradient( to right bottom, rgba($color-white, 0.2), rgba( $color-orange-light , 0.2)), url(./../img/types/white-big.jpg);
            }
        }
        &-4{
            background-image: linear-gradient( to right bottom, rgba($color-white, 0.2), rgba( $color-orange-light , 0.2)), url("./../img/types/oolong-small.jpg");

            @media (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 2000px) {
                background-image: linear-gradient( to right bottom, rgba($color-white, 0.2), rgba( $color-orange-light , 0.2)), url(./../img/types/oolong-big.jpg);
            }
        }
        &-5{
            background-image: linear-gradient( to right bottom, rgba($color-white, 0.2), rgba( $color-orange-light , 0.2)), url("./../img/types/matcha-small.jpg");

            @media (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 2000px) {
                background-image: linear-gradient( to right bottom, rgba($color-white, 0.2), rgba( $color-orange-light , 0.2)), url(./../img/types/matcha-big.jpg);
            }
        }
        &-6{
            background-image: linear-gradient( to right bottom, rgba($color-white, 0.2), rgba( $color-orange-light , 0.2)), url("./../img/types/herbal-small.jpg");

            @media (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 2000px) {
                background-image: linear-gradient( to right bottom, rgba($color-white, 0.2), rgba( $color-orange-light , 0.2)), url(./../img/types/herbal-big.jpg);
            }
        }
        &-7{
            background-image: linear-gradient( to right bottom, rgba($color-white, 0.2), rgba( $color-orange-light , 0.2)), url("./../img/types/rooibos-small.jpg");

            @media (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 2000px) {
                background-image: linear-gradient( to right bottom, rgba($color-white, 0.2), rgba( $color-orange-light , 0.2)), url(./../img/types/rooibos-big.jpg);
            }
        }
        &-8{
            background-image: linear-gradient( to right bottom, rgba($color-white, 0.2), rgba( $color-orange-light , 0.2)), url("./../img/types/hibiscus-small.jpg");

            @media (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 2000px) {
                background-image: linear-gradient( to right bottom, rgba($color-white, 0.2), rgba( $color-orange-light , 0.2)), url(./../img/types/hibiscus-big.jpg);
            }
        }
        &-9{
            background-image: linear-gradient( to right bottom, rgba($color-white, 0.2), rgba( $color-orange-light , 0.2)), url("./../img/types/greenRooibos-small.jpg");

            @media (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 2000px) {
                background-image: linear-gradient( to right bottom, rgba($color-white, 0.2), rgba( $color-orange-light , 0.2)), url(./../img/types/greenRooibos-big.jpg);
            }
        }
       
    }


}