*,
*::after,
*::before { margin: 0; padding: 0; box-sizing: inherit; }

html{
    // This defines 1 rem
	font-size: 62.5%;// 1 rem = 10px  10/16=0.625  0.625*100=62.5%

    @include respond(tab-land){     // width < 1200?
		font-size: 56.25%; // 1 rem = 9px 9/16=0.5625 => 56.25%
	}

	@include respond(tab-port){		// width < 900?
		font-size: 50% ;  // 1 rem = 8px 8/16=0.5 => 50%
	}

	@include respond(big-desktop){
		font-size: 75% ; //// 1 rem = 12px 12/16=0.75 => 75%
	}
}

body { box-sizing: border-box; }

.hide{
	display: none;
}