body{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	line-height: 1.7;
	color: $color-primary-dark;
	
	/* font-size: 16px; */
}

.orange{
	color: $color-primary-orange;
}

.heading-primary{
	font-size: 5rem;
	font-weight: 700;
	line-height: 5.5rem;
	margin-bottom: 1rem;

	&--sub{
		text-transform: uppercase;
		font-weight: 500;
		font-size: 4.5rem;
	}

}

.heading-secondary{
	font-size: 4.5rem;
	font-weight: 600;
	line-height: 5rem;
	margin-bottom: 1rem;

	&--sub{
		text-transform: none;
		font-weight: 500;
		font-size: 4.5rem;
	}

	
}

.heading-tertiary{
	font-size: 3rem;
	font-weight: 400;
	text-align: center;
}

.center{
	text-align: center;
}

.bold{
	font-size: 1.5rem;
	font-weight: 600;
}

.italic{
	font-style: italic;
	font-size: 1.4rem;

}