// COLORS

$color-primary-dark: #222;
$color-primary-orange: #ff5c36;
$color-orange: #e04f11;
$color-orange-light: #ff6e47;
$color-white: #ffffff;
// $color-white-grey: green;
$color-white-grey: #fbfbfb;
$color-white-footer: #f7f7f7;
$color-grey-footer: #efefef;
$color-grey-light: #706b73;
$color-grey-light-1: #d3d3d3;
$color-yellow: #ffef3b;
$color-black: #000;

$border-shadow: 0 .5px 2rem rgba($color-black,.2); //box-shadow
$border-shadow-dark: 0 .5px 2rem rgba($color-black,.4); //box-shadow
$border-shadow-light: 0 .5px 2rem rgba($color-black,.04); //box-shadow

$default: 1.6rem;
$default-font: 'Open Sans', sans-serif;

$margin-main: 8rem 0 6rem 0;
$magrin-bottom: 2rem;
$magrin-bottom-xs: 5rem;
$magrin-bottom-big: 15rem;
$magrin-bottom-middle: 10rem;

$padding-small: 4rem 0 6rem 0;
$padding-middle: 2rem 0 8rem 0;


